/* Write your CSS here! */
body {

    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: navy;
}

#mainHeading {
    text-align: center;
    color: red
}
img {
    width: 30%;
    height: 30%;
    margin: 10px;
    border-radius: 8px;
}


li {
    padding-top: 15px;
    font-family: 'Playfair Display', serif;
}

ul {
    padding-right: 30px;
    font-family: 'Playfair Display', serif;
}

.active {
    padding-right: 30px;
}