p {

    color: red;
    text-align: left;
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
}

body {
    margin: 8px;

    display: block;
    background-color: rgb(169, 180, 182);
}

h1 {
    color: blue;
}

p {
    color: navy;
}


img {
    width: 80%;
    height: 30%;
    margin: 10px;
    border-radius: 8px;
}


li {
    padding-top: 15px;
    font-family: 'Playfair Display', serif;
}

ul {
    padding-right: 30px;
    font-family: 'Playfair Display', serif;
}

.active {
    padding-right: 30px;
}